doctype html
html(lang="en")
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    div.auth-container
      h1 Register
      form(method="POST", action="/auth/register")
        input(type="text", name="username", placeholder="Enter username" required).credentials
        input(type="email", name="email", placeholder="Enter email" required).credentials
        input(type="password", name="password", placeholder="Enter password" required).credentials
        input(type="text", name="firstname", placeholder="First Name" required).credentials
        input(type="text", name="lastname", placeholder="Last Name" required).credentials
        input(type="submit", value="Register!").button.input-button
    include ../partials/footer.pug