doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=currentPage
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Hello World. This is a test.
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magni vel facilis beatae vitae unde possimus debitis, id, quia amet similique placeat pariatur quis commodi, saepe illo odio autem adipisci.