doctype html
html(lang="en")
  include partials/head.pug
  body
    include partials/nav.pug
    div#landing
      h1.main-text Welcome to my<br>to-do app
      a(href="./todos/").button Todos
    include partials/footer.pug