doctype html
html(lang="en")
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    div#todo-list
      button#add-todo Add New Todo
      - for (var x = 0; x < 3; x++)
        li item
    include ../partials/footer.pug