doctype html
html(lang="en")
  include ../partials/head.pug
  body
    h1 New Test. New Test.
    p.
       More Lorem Ipsum: <br>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam magni vel facilis beatae vitae unde possimus debitis, id, <br>
       quia amet similique placeat pariatur quis commodi, saepe illo odio autem adipisci.